numpy
pandas
matplotlib
pyspark >= 3.4.0
imageio
scikit-learn
torch
torchvision
transformers
seaborn

# Google drive api
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib

# developer tools
jupyterlab
black
pre-commit
openai
langchain
weaviate-client
redlines
panel
python-dotenv
together
ipywidgets
llama_index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
docx2txt
llama-index-readers-file
flask
pdfplumber
